/* 초기화 */
* {
  margin: 0;
  padding: 0;
}
/* 플로팅버튼 */
.toTopScroll {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  right: 5px;
  bottom: 5px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
/* 탑메뉴 */
.topMenu span a {
  text-decoration: none;
  color: #5a5a5a;
}
.topMenu span a:link {
  color: #5a5a5a;
}
.topMenu span a:hover {
  color: #5a5a5a;
}
.top {
  width: 100%;
  height: 30px;
  color: #777777;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.topMenu {
  width: 90%;
  text-align: right;
  vertical-align: middle;
  line-height: 30px;
}
.topMenu span {
  padding: 5px;
}
/* .topMenu a {
  margin-bottom: 0;
  text-decoration: none;
  color: #777777;
} */
.topMenu .home {
  background-image: url(/img/home01.png);
  background-repeat: no-repeat;
  background-position: -10% -50%;
}
.home > a {
  padding: 0 0 0 22px;
}

/* 네비바의 로그인,회원가입 */
.ljoin {
  border-top: 1px solid rgb(202, 202, 202);
  border-bottom: 1px solid rgb(202, 202, 202);
  padding-top: 5px;
  padding-bottom: 5px;
}
.ljoin a {
  font-size: 12px;
  color: #555555;
}
.ljoin a:hover {
  text-decoration: none;
  color: #555555;
}

/* 네비바의 드롭다운메뉴 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(17, 14, 14);
  min-width: 120px;
  z-index: 1;
  font-size: 12px;
  margin-top: -3px;
  margin-left: 30px;
}
.dropdown-content a {
  display: block;
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  background-color: black;
}
.dropdown-content a:link {
  color: white;
}
.dropdown-content a:hover {
  color: white;
  text-decoration: underline;
}
.dropdown-content a:visited {
  color: white;
}
/* 드롭다운메뉴의 마우스오버시 팝업 */
.dropdown:hover .dropdown-content {
  display: block;
}
.text-left{
  text-align: left;
}
/* 캐러셀 */
.btn1{
  margin-top: 10px;
  width: 200px;
  height: 40px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.7s;
}

.btn1:hover{
  border: 0;
  color: white;
  background-color: rgb(104, 104, 251);
}

.mouse-hover > a{
  opacity: 0;
}

.mouse-hover:hover > a{
  opacity: 1;
}

.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
  animation-iteration-count: 1;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* 섹션2 */
.section{
  background-color: white;
  text-align: center;
  padding:100px;
  width: 100%;
  margin: 50px 0;

}
.btn2{
  margin-top: 10px;
  width: 200px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.7s;
}

.btn2:hover{
  border: 0;
  color: white;
  background-color: rgb(104, 104, 251);
}
/* 섹션3 */
.section3{
  padding: 50px;
  text-align: center;
  background-color: rgb(242, 241, 241);
}
.imggroup{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.imggroup > img{
  margin: 10px;
  width: 500px;
  transition: all 0.7s;
}

.imggroup > img:hover{
  opacity: 0.5;
  width: 500px;
}

/* 섹션4 */

/* 섹션5 */

.imggroup > .img > div{
  padding: 90px;
  transition: all 0.7s;
  opacity: 0;
}

.imggroup > .img > div > button{
  width: 70px;
  height: 43px;
  font-size: 18px;
  margin-top: -35px;
  border: 1px solid white;
  background-color:transparent;
  color:white;
}

.imggroup > .img:hover > div{
  font-size: 30px;
  color: white;
  opacity: 1;
}

.imggroup > .img:hover{
  filter: brightness(90%);
  width: 500px;
}
#img1{
  background-image: url('/img/value1.jpg');
  background-size: 100% 100%;
  margin: 10px;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
}

#img2{
  background-image: url("/img/value2.jpg");
  background-size: 100% 100%;
  margin: 10px;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
}

#img3{
  background-image: url('/img/value3.jpg');
  background-size: 100% 100%;
  margin: 10px;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
}

#img4{
  background-image: url('/img/value4.jpg');
  background-size: 100% 100%;
  margin: 10px;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
}

#img5{
  background-image: url('/img/value5.jpg');
  background-size: 100% 100%;
  margin: 10px;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
}



/* 섹션4 */
.wrap{
  text-align: center;
  margin: 90px 0;
}

.tag{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.textbar{
  width: 20%;
  margin: 30px;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  background-color: white;
}

.textbar > #text{
  text-align: left;
  padding: 10px;
  border:1px solid rgb(217, 216, 216);
  background-color: white;
  color: rgb(88, 88, 88);
  padding-top: 20px;
}

.textbar > #text > p:nth-child(1){
  color: rgb(36, 36, 36);
  font-weight: bold;
  font-size: 18px;
}

.textbar > #text > p:nth-child(2){
  margin-top: -10px;

}

.textbar > img {
  transition: all 0.7s;
}

.textbar:hover > img{
  filter: brightness(50%);
}
/* 섹션5 */
#section5{
  background: url("/img/visual04.jpg");
  height: 300px;
  text-align: center;
}
#section5 > div{
  color:white;
  padding: 90px;
}

/* 섹션6 */

.section6{
  margin-top: 30px;
  text-align: center;

}
.section6 a{
  color:#555555;
}
.section6 a:hover{
  color:#555555;
  text-decoration: none;
}
#h3p {
  margin: 50px;
}

.table{
  display: flex;
  justify-content: center;
}

.notice-board{
  border: 1px solid rgb(184, 184, 184);
  width: 500px; height:200px;
  color: rgb(133, 133, 133);
  margin-top:10px;
  
}

.notice-board > div > h3{
  font-size: 18px;
}

.notice-board > div >a:link{
  text-decoration: none;
  color: rgb(133, 133, 133);
}

#tbtop{
  padding: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid rgb(184, 184, 184);
 
  
}
#tbtop >h3{
  margin-top:5px;
  box-sizing:border-box;

}
#tbtop >a{
  margin-top: 5px;
  box-sizing: border-box;

}

.h3a{
  font-size: 20px;
  font-weight: bold;
}

.table > a{
  text-decoration: none;
  color: rgb(184, 184, 184);
}

#tbmain > div{
  display: flex;
  height:37px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:stretch;
  padding:0 20px;  
  box-sizing: border-box;
  
}
#tbmain > div:first-child{
  margin-top:15px;
  
}

#tbmain > div > a:link{
  color: rgb(150, 150, 150);
}

.boxmain{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#box1:hover{
  opacity: 0.8;
}
#box2:hover{
  filter: brightness(90%);
}
#box3:hover{
  filter: brightness(90%);
}

.box{
  text-align: center;
  padding: 30px 20px 0 20px;
  color:white;
  width: 200px;
  height: 200px;
  margin: 10px;
}

#box1{
  background-color: rgb(1, 1, 163);
  margin-left: 30px;
  transition: all 0.7s;
}
.box > h5{
  padding-top: 20px;
  font-weight: bold;
  font-size: 17px;
}

.box > p{
  font-size: 13px;
}

#box2{
  background-color: rgb(3, 194, 194);
  transition: all 0.7s;
}
#box3{
  background-color: rgb(142, 142, 142);
  transition: all 0.7s;
}








/* footer */

.footer{
  width:100%; height:250px;
  margin-top:50px;
  background-color:#333;
  position:relative;
  bottom:0; left:0;
  padding-top: 20px;
 
}
.policy ul{
  width: 100%;
  margin:0 auto;
  height:50px;
}

.policy ul li{
  width:20%; height:20px; line-height:20px;
  float:left; color: white; font-size:11px;
  list-style:none;
  box-sizing:border-box;
}
.policy ul li a{
  color:white;
  font-size:12px;
  
}
.footerLogoList{
  width:80%; height: 50px; 
  list-style: none;
 
  position: relative;
  margin:0 auto;
}

.footerLogoList{
  width: 160px; 
  margin: 0 auto;
  text-align: center;
}
.footerLogoList li{
  width:40px;  
  float:left;
  
}
.comanyAdress{
  color: #999999;
  font-size: 13px;
}



/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 959px) {


}
/* 모바일 */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .policy ul{
    width:80%;
  }
  .policy > ul > li:nth-child(1){
    display: block;
    width:50%;
  
  }
  .policy > ul > li:nth-child(2){
    display: none;
    
  }
  .policy > ul > li:nth-child(3){
    display: block;
    width:50%;
  }
  .policy > ul > li:nth-child(4){
    display: none;
  }
  .policy > ul > li:nth-child(5){
    display: none;
  }
}
