/* join 1 */
.join_container{
    width:800px;
    margin:0 auto;   
    margin-bottom:70px;



}


.tit_sub01{
    color:#222;
    font-size: 24px;
    margin-top:30px;
 

}
.tit_sub02{
    color:#999;

    

}
.welcom{
    width:100%; height:150px;
    border:1px solid silver;
    display: flex;
    flex-flow: row wrap;
    align-items: center;    
    margin-top: 30px;
    padding-left:20px;
    box-sizing:border-box;

}
.welcom p {
    width:100%;
}

.welcom >p:first-child{    
    font-size:1.3em;
    margin-top:3%;
    color:#555555;
   
}
.welcom >p:last-child{
    color:#787878;
    margin-top:-60px;
  
}
.joinboxWrap{
    border:1px solid silver;
    background-color: rgb(235, 235, 235);
    width:100%; height:200px;
    margin-top:30px;
    display:flex;
    flex-flow:row wrap;    
    align-items: center;
}
.joinboxWrap >table{
    margin:0 auto;
    text-align:center;

    
}

.joinboxWrap input[type=text]{
    background-color: rgba(255, 255, 255, 0.8);
   
    margin-top:5px;
    border: 1px solid silver;
    box-sizing:border-box;
    margin-right:12px;
}
.joinboxWrap table > tr > td:nth-child(2){
    width:100%;
}

.joinboxWrap >table tr td:last-child{
    width:70px; height:70px;
    display: flex;
    margin-top:10px;
    

    /* margin-left:50px !important; */
    /* box-sizing:border-box; */
}
.joinboxWrap >table tr td:last-child div{
    display: flex;
    width:60px; height:60px;
    justify-content:center;
    align-items: center;
    border:1px solid silver;
    border-radius: 5px;    
    box-sizing:border-box;
    background-color: white;
    
}


button{
    width:60px; height:60px;
    line-height:58px;
    background-color:silver; 
    margin-top:2px !important;
    font-size:13px !important;
}




/* join 2 */
.wrap{
    width: 80%;
    margin: auto;
}

.main > div > p{
    margin: 20px 0 0 0;
    font-size: 13px;
}

.main > div > span{
    margin-left: 3px;
    font-size: 13px;
}

.main > div > textarea{
    font-size: 12px;
}

.top{
    height: 100px;
    border: 1px solid silver;
    text-align: center;
}

#join_check_input{
    width:80px; height:26px;
    margin-top:20px;
    line-height: 26px; 
    font-size:13px;     
    
    border:1px solid silver;
    box-sizing:border-box;
    background-color:#f7f3f0;
}




/* join3 css */

.join_notice{
    width:100%; height:120px;
    background-color: #eee;
    padding: 10px; box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;    
    margin-top:30px;
}
.join_notice >h5{
    color:#787878;
    font-weight: normal;
    font-size: 16px;
    margin-top: 15px;
}
.join_notice >p{
    color:#787878;
    font-size:13px;
    
}
form>h5{
    font-weight:normal;
    color:#787878;
    font-size:16px;
    margin-top:30px;

}
#joinfrm_table{
   
    display: flex;
    flex-flow:row wrap;
    font-size:16px;
    
}
#joinfrm_table tr{
height:25px; line-height: 25px; 
}

#joinfrm_table tr td:first-child{
    
    width: 20%;
    
}
#joinfrm_table td{
  padding-left:10px;  
  height: 25px;
  box-sizing:border-box;
  font-size:13px; 
  align-items: center;
  
}
#joinfrm_table td input{
    height:20px; margin-right:10px;
    border:1px solid #ccc;
    text-indent: 5px;
}
#joinfrm_table p{
    display: inline-block;
}

#joinfrm_table >td{
    height: 25px;
    display:flex;
    align-items: center;    
    
    padding-top:15px;
    box-sizing: border-box;
}
#joinfrm_table .paddinptop20{
    padding-top: 18px;
}

#joinfrm_table, tr{
    border:1px solid #eee;
    box-sizing:border-box; 
    
}
#joinfrm_table, tr>td:first-child{
    border-right:1px solid #eee;   
    border-top: none; 
    border-left: none;
   
}
#joinfrm_table, tr>td:last-child{
    border-right:none;
    border-bottom:none;
   
}
#joinfrm_table tr>td:first-child{
    background-color:rgb(245, 245, 245);
   
    line-height: 25px;
    padding-top:15px;
    box-sizing: border-box;
}
#joinfrm_table input[type=radio]{
    /* vertical-align:center; */
    margin-top:18px;
    position: relative; top:5px;
}
#joinfrm_table td label{
    /* margin-right:15px; margin-top: -15px; */
    position:relative;
    margin-right: 10px; margin-top: -10px;
}
#joinfrm_table td label:last-child{
    margin-right:0; 
}
#bottom_title{
    width:100%; height:30px;
    color:#787878;
    font-weight: normal;
    font-size: 16px;
    
    border-bottom: 1px solid #999;
    margin-top: 30px;
   
}
.bottom {
    text-align: center;
    margin-top:20px;
}
.bottom input{
    width:60px; height:30px;
    border-radius: 0;
    color:white;
    border:none;
    font-size:13px;
}
.bottom input:first-child{
    background-color: #222;
}
.bottom input:last-child{
    background-color: #555555;
}


/* join - 1 반응형 */
/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 959px) {
    .join_container{
      width:95%;
    }
    .welcom >p:first-child{    
        font-size:1em;
        margin-top:3%;
    }
    .welcom >p:last-child{     
        font-size:0.8em;  
        margin-top:-8%;      
        
    }
    




  }
  /* 모바일 */
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .join_container{
      width:95%; 
    }
    .welcom >p:first-child{    
        font-size:1em;
        margin-top:3%;    
    }
    .welcom >p:last-child{     
        font-size:0.8em;        
        margin-top:-8%;    
    }




  }