#wrap{
    text-align: center;
    margin-bottom: 30px;
 
}

#middlebox_wrap{
    width:100%;
    display: flex;
    flex-flow:row wrap;

    justify-content: center;
}


#top {
    width:100%; margin-top:50px; 
    border-bottom:1px solid #ccc;
    margin-bottom: 40px;
}


#top > p{
    font-size: 14px;
    color: rgb(178, 176, 176);
    margin-bottom: 30px;
    text-align: center;
}

#middle1{
    justify-content: center;
    display: flex;
    flex-flow:row wrap;
}
#middle1 > div{    
    flex-basis: 23%;
    padding:10px;
    box-sizing:border-box;
    flex-shrink: 1;
    flex-grow: 1;

}
#middle1 p {
    margin-top:10px;
}

#middle2{

    justify-content: center;
    display: flex;
    flex-flow:row wrap;
    
}
#middle2 > div{   
    flex-basis: 23%;
    padding:10px;
    box-sizing:border-box;
    flex-shrink: 1;
    flex-grow: 1;

    
}
#middle2 p {
    margin-top:10px;
}
#searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;

}

#lang{
    color: rgb(134, 134, 134);
    border: 1px solid rgb(199, 199, 199);
    padding:2.85px;
}

input[type=search]{
    border: 1px solid rgb(199, 199, 199);
    margin-left: 2px;
    margin-right: 2px;
    padding:2.5px;
     
}
#searchbar{
    
    position:relative;
    left:50px;

}



/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 959px) {

    #middle1 > div{
        flex-basis: 50%;
        box-sizing: border-box;
        margin:0;
        padding: 1%;
        box-sizing: border-box;
    }
    #middle1 > div img{
        width:100%;  height: auto;
    }
    #middle2 > div{
        flex-basis: 50%;
        box-sizing: border-box;
        margin:0;
        padding: 1%;
        box-sizing: border-box;
       
    }
    #middle2 > div img{
        width:100%; 
        
    }
    #searchbar{
        left:10px;
    }
}
  /* 모바일 */
  @media screen and (max-width: 767px) and (orientation: portrait) {

    #middle1 > div{
        flex-basis: 50%;
        margin:0;
        padding: 1%;
        box-sizing: border-box;
       
        
    }
    #middle1 > div img{
        width:100%; 
    }
    #middle2 > div{
        flex-basis: 50%;
        box-sizing: border-box;
        margin:0;
        padding: 1%;
        box-sizing: border-box;
       
    }
    #middle2 > div img{
        width:100%; 
        
    }
    #searchbar{
        left:10px;
    }
  }