.tit_sub01{
    color:#222;
    font-size: 36px;
    margin-top:30px;

}
.tit_sub02{
    color:#999;  
}
.about_section1{
    text-align: center;
    margin:70px auto 70px auto;
}
.about_section1 > h3{
    margin-bottom:30px;
}
.about_section1 > p{
    margin-bottom:50px;
    color: #999;  
    
}
.about_section2{
    width:100%; height:500px; 
    background-color:rgb(241, 241, 241);
    padding:50px 50px 0 50px;    
    box-sizing:border-box;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    

}
.about_section2 > div:first-child{
    width:40%; height:400px;
    /* background-color: red; */
    overflow: hidden;
}
.about_section2 > div:first-child img{
    width:100%; height: auto;
}
.about_section_right_textbox{
    width:60%;
    padding-left:50px;
    box-sizing:border-box;
    display: flex;
    flex-flow:column wrap;
    justify-items: center;
    
}
.about_section_right_textbox h3{
    color:#222
}
.about_section_right_textbox p {
    margin-top:40px;
    color: gray;
}
.about_section_right_textbox >ul{
    margin-left:20px;
    color:gray;
}
.about_section_right_textbox >ul>li> span {
    color:rgb(182, 60, 60);
}
/* 비전스타일 */
.vision_wrap{
    margin:0 auto;
    text-align: center;
    margin-top:80px;
    border-bottom:1px solid #999;
    padding-bottom:80px;

}
.vision_wrap>h3{
    color: #222;
    font-size:36px;
}
.vision_wrap>p{
    color:#999;
    font-size:38px;
    
}
.vision_list{
    width: 100%;    
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    margin-top: 30px;
  

}
.vision_list li{
    background: color rgb(240, 240, 240);;
    width:24%; list-style: none;
    box-sizing: border-box;
    border:1px solid #999;
}
.vision_list li img{
    margin-top:30px;
}
.vision_title{
    color:#222; 
    font-weight: bold;
    font-size:36px;
}
.vision_txt{
    color:#999;
    margin-top:-15px;
    margin-bottom:40px;
}




/* 히스토리 스타일 */



.history_title{
    color:#222;
    font-size: 24px;
    margin-top:30px;
}   

.history_txt{
color:#999; 
margin-bottom:100px;
} 


.history_container{
    text-align:center;
    margin-top:80px;
    
}
.content_section{
    display: flex;
    border-bottom:1px dotted #999;
    margin-top: 50px;
    padding-bottom: 20px;
}
.content_section:last-child{
    border:none;
}
.content_year{
    width: 30%;
    font-size:36px;
    font-weight: bold;
    text-align: left top;
    
    /* border: 1px solid red; */

}

/* content_year_text */
.content_year_text{ 
    width:70%; 
    
}
.content_year_text >ul{
    /* line-hitht: */
    width:100%;    
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    list-style: none;
    color: #999;
    
}

.content_year_text >ul>li{
    width:90%; 
    display:flex;
    flex-basis:100%;
    list-style: none;
    margin-top: 20px;

}
.content_year_text >ul>li:first-child{
    margin-top:0;
    
}
.content_year_text >ul>li>span{
margin-right:15px;
}






/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 959px) {
    .about_section1 > p{
        text-align:justify;
    }
    .about_section_right_textbox h3{
        font-size:1.2em;
    }
    .about_section_right_textbox p {
        font-size:1em;
    }
    .about_section2 > div:first-child{
        height: 300px;
        
    }
    .vision_list li{
       
        width:48%; list-style: none;
        box-sizing: border-box;
    }
    .vision_list li:nth-child(3), .vision_list li:nth-child(4){
        margin-top:10px;

    }
    .vision_title{
        font-weight: normal;
        font-size:36px;
    }
    .vision_txt{
        font-weight: normal;
        font-size:14px;
    }
    .vision_list li{
       
        width: 25px%; 
      
    }

  }
  /* 모바일 */
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .about_section1 > p{
        text-align:justify;
    }
    .about_section2{
        height:700px;
        
    }
    .about_section2 > div:first-child{
        width:100%;
        height:300px;
    }    
    .about_section2 > div:first-child img{
        width:100%; height: auto;
    }
    .about_section_right_textbox{
        width:100%;      
    }
    .about_section_right_textbox{
        padding-left:0;
    }
   
    .about_section_right_textbox h3{
        font-size:1.2em;
    }
    .about_section_right_textbox p {
        font-size:0.9em;
        margin-top:10px;
    }
    .about_section_right_textbox ul > li{
        font-size:0.9em;
    }
    .vision_list li{
       
        width:48%; list-style: none;
        box-sizing: border-box;
    }
    .vision_list li:nth-child(3), .vision_list li:nth-child(4){
        margin-top:10px;

    }
    .content_year{
        width:100%;
    }
    .content_year_text{
        width:100%;
    }
   

  }