


#top > p{
    font-size: 14px;
    color: rgb(178, 176, 176);
    margin-bottom: 30px;
}

#top{
  text-align: center;
}
td{
  color:rgb(144, 144, 144);
}

td > a:link{
  color:rgb(144, 144, 144);
  text-decoration: none;
}
td > a:visited{
  color:rgb(144, 144, 144);
  text-decoration: none;
}

td > a:hover{
  color:rgb(92, 92, 92);
}

#searchbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
}
#lang{
  color: rgb(134, 134, 134);
  border: 1px solid rgb(199, 199, 199);
  padding:2.85px;
}
input[type=search]{
  border: 1px solid rgb(199, 199, 199);
  margin-left: 2px;
  margin-right: 2px;
  padding:2.5px;
}