#top > p{
    font-size: 14px;
    color: rgb(178, 176, 176);
    margin-bottom: 30px;
}

#top{
    text-align: center;
}

.textbox{
    width: 30%;
}

.textbox , .exp{
    border: 1px solid rgb(210, 210, 210);
}

.btnct{
    text-align: center;
}

.submit{
    height: 40px;
    width: 70px;
    color:white;
    font-weight: bold;
    border:0;
    background-color: rgb(53, 53, 53);
}

.cansle{
    height: 40px;
    width: 70px;
    color:white;
    font-weight: bold;
    border:0;
    background-color: rgb(167, 167, 167);
    
}